/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module.parallax h1,
section.module.parallax h2,
section.module.parallax p {
  margin-top: 10px;
  margin-bottom: 30px;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 480px;
  min-height: 260px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}
section.module.parallax .opacity {
  background-color: rgba(254,254,254,0.2);
  height: 100%;
}

section.module.parallax .container {
  color: rgba(254, 254, 254, 0.8);
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 62%;
  margin: auto;
  padding: 10px;
}

#content div  div.at-panel .fullsize {
  margin: 0 0;
  width: auto;
  padding: 0;
}

#panels-panel-context-edit-content div  div.at-panel .fullsize {
  margin: 0 0 !important;
}

@media only screen and (max-width:320px) {
  section.module.parallax h2 {
    font-size: 20px;
  }
  section.module.parallax p {
    font-size: 14px;
  }
  section.module.parallax h1 {
    font-size: 28px;
  }
}
@media only screen and (min-width:321px) and (max-width:580px) {
  section.module.parallax h2 {
    font-size: 22px;
  }
  section.module.parallax p {
    font-size: 16px;
  }
  section.module.parallax h1 {
    font-size: 32px;
  }
}
@media only screen and (min-width:581px) and (max-width:768px) {
  section.module.parallax h2 {
    font-size: 42px;
  }
  section.module.parallax p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 48px;
  }
}
@media only screen and (min-width:769px) {
  section.module.parallax h2 {
    font-size: 48px;
  }
  section.module.parallax p {
    font-size: 24px;
  }
  section.module.parallax h1 {
    font-size: 72px;
  }
}
