/* ============================================================
  CSS
============================================================ */
#content .container {
  width: 100%;
}
#content #content-column,
#content .content-column,
#content div.sidebar {
  float: left;
  clear: none;
}
#content .two-sidebars .content-inner {
  margin-left: 25%;
  margin-right: 25%;
}
#content .sidebar-first .content-inner {
  margin-left: 25%;
  margin-right: 0;
}
#content .sidebar-second .content-inner {
  margin-right: 25%;
  margin-left: 0;
}
#content .region-sidebar-first {
  width: 25%;
  margin-left: -100%;
}
#content .region-sidebar-second {
  width: 25%;
  margin-left: -25%;
}
#content .at-panel .region {
  display: inline;
  float: left;
}
#content .one-column > .region,
#content div.at-panel .region-conditional-stack {
  clear: both;
  display: block;
  float: none;
  width: 100%;
}
#content .two-66-33 > .region-two-66-33-first,
#content .two-33-66 > .region-two-33-66-second {
  width: 66.666666%;
}
#content .two-66-33 > .region-two-66-33-second,
#content .two-33-66 > .region-two-33-66-first,
#content .three-3x33 > .region {
  width: 33.333333%;
}
#content .two-50 > .region,
#content .two-brick > .panel-row > .region,
#content .three-25-50-25 > div.region-three-25-50-25-second,
#content .three-25-25-50 > div.region-three-25-25-50-third,
#content .three-50-25-25 > div.region-three-50-25-25-first {
  width: 50%;
}
#content .two-brick > .panel-row {
  float: none;
}
#content .three-25-50-25 > .region,
#content .three-25-25-50 > .region,
#content .three-50-25-25 > .region {
  width: 25%;
}

@media only screen and (max-width:320px) {
  #content .container {
    width: auto;
  }
  #content .at-panel .region,
  #content .at-panel .panel-row,
  #content .at-panel .panel-row .region {
    float: none;
    display: block;
    width: 100%;
  }
}

/* Smalltouch_landscape one_col_vert */
@media only screen and (min-width:321px) and (max-width:580px) {
  #content .container {
    width: auto;
  }
  #content .two-sidebars .content-inner,
  #content .one-sidebar .content-inner,
  #content .region-sidebar-first,
  #content .region-sidebar-second {
    margin-left: 0;
    margin-right: 0;
  }
  #content .region-sidebar-first {
    width: 50%;
  }
  #content .region-sidebar-second {
    width: 50%;
  }
  #content .one-sidebar .sidebar {
    width: 100%;
  }
  #content .region-sidebar-first,
  #content .region-sidebar-second {
    overflow: hidden;
    margin-top: 20px;
    float: left;
    clear: none;
  }
  #content .region-sidebar-first .block,
  #content .region-sidebar-second .block {
    width: 100%;
  }
  #content .at-panel .region {
    display: inline;
    float: left;
  }
  #content .two-66-33 > .region,
  #content .two-50 > .region,
  #content .two-33-66 > .region,
  #content .two-brick > .panel-row > .region,
  #content .three-25-50-25 > .region,
  #content .three-3x33 > .region,
  #content .three-25-25-50 > .region,
  #content .three-50-25-25 > .region,
  #content .three-25-50-25 > div.region-three-25-50-25-second,
  #content .three-25-25-50 > div.region-three-25-25-50-third,
  #content .three-50-25-25 > div.region-three-50-25-25-first {
    float: none;
    display: block;
    width: 100%;
    clear: both;
  }
}

/* tablet_portrait one_col_vert */
@media only screen and (min-width:581px) and (max-width:768px) {
  #content .container {
    width: auto;
  }
  #content .two-sidebars .content-inner,
  #content .one-sidebar .content-inner,
  #content .region-sidebar-first,
  #content .region-sidebar-second {
    margin-left: 0;
    margin-right: 0;
  }
  #content .region-sidebar-first {
    width: 50%;
  }
  #content .region-sidebar-second {
    width: 50%;
  }
  #content .one-sidebar .sidebar {
    width: 100%;
  }
  #content .region-sidebar-first,
  #content .region-sidebar-second {
    overflow: hidden;
    margin-top: 20px;
    float: left;
    clear: none;
  }
  #content .region-sidebar-first .block,
  #content .region-sidebar-second .block {
    width: 100%;
  }
  #content .at-panel .region {
    display: inline;
    float: left;
  }
  #content .two-66-33 > .region,
  #content .two-50 > .region,
  #content .two-33-66 > .region,
  #content .two-brick > .panel-row > .region,
  #content .three-25-50-25 > .region-three-25-50-25-first,
  #content .three-3x33 > div.region-three-33-first,
  #content .three-25-25-50 > .region-three-25-25-50-first,
  #content .three-50-25-25 > .region-three-50-25-25-first {
    float: none;
    display: block;
    width: 100%;
    clear: both;
  }
  #content .three-25-50-25 > div.region-three-25-50-25-second,
  #content .three-25-25-50 > div.region-three-25-25-50-third {
    width: 75%;
  }
  #content .three-25-50-25 > div.region-three-25-50-25-third,
  #content .three-25-25-50 > div.region-three-25-25-50-second,
  #content .three-inset-right > .region-three-inset-right-sidebar {
    width: 25%;
  }
  #content .three-3x33 > .region,
  #content .three-50-25-25 > .region-three-50-25-25-second,
  #content .three-50-25-25 .region-three-50-25-25-third {
    width: 50%;
  }
}
/* tablet_landscape three_col_grail */
@media only screen and (min-width:769px) and (max-width:1024px) {
  #content .container {
    width: auto;
  }
  #content #content-column,
  #content .content-column,
  #content div.sidebar {
    float: left;
    clear: none;
  }
  #content .two-sidebars .content-inner {
    margin-left: 20%;
    margin-right: 20%;
  }
  #content .sidebar-first .content-inner {
    margin-left: 20%;
    margin-right: 0;
  }
  #content .sidebar-second .content-inner {
    margin-right: 20%;
    margin-left: 0;
  }
  #content .region-sidebar-first {
    width: 20%;
    margin-left: -100%;
  }
  #content .region-sidebar-second {
    width: 20%;
    margin-left: -20%;
  }
  #content .at-panel .region {
    display: inline;
    float: left;
  }
  #content .two-66-33 > .region-two-66-33-first,
  #content .two-33-66 > .region-two-33-66-second {
    width: 66.666666%;
  }
  #content .two-66-33 > .region-two-66-33-second,
  #content .two-33-66 > .region-two-33-66-first,
  #content .three-3x33 > .region {
    width: 33.333333%;
  }
  #content .two-50 > .region,
  #content .two-brick > .panel-row > .region,
  #content .six-6x16 > .panel-row > .region,
  #content .three-25-50-25 > div.region-three-25-50-25-second,
  #content .three-25-25-50 > div.region-three-25-25-50-third,
  #content .three-50-25-25 > div.region-three-50-25-25-first,
  #content .five-5x20 > .row-1 > .region {
    width: 50%;
  }
  #content .two-brick > .panel-row {
    float: none;
  }
  #content .three-25-50-25 > .region,
  #content .three-25-25-50 > .region,
  #content .three-50-25-25 > .region {
    width: 25%;
  }
}
