#panels-dnd-main .region {
  margin-bottom: 5px;
}
#panels-dnd-main .region-two-66-33-first {
  float: left;
  width: 66.5%;
}
#panels-dnd-main .region-two-66-33-second {
  float: right;
  width: 33%;
}
#panels-dnd-main .region-two-66-33-middle {
  clear: both;
}
#panels-dnd-main .region-two-66-33-bottom {
  clear: both;
}
