#panels-dnd-main .region {
  margin-bottom: 5px;
}
#panels-dnd-main .region-three-25-25-50-first {
  float: left;
  width: 24.5%;
}
#panels-dnd-main .region-three-25-25-50-second {
  float: left;
  width: 24.5%;
  margin-left: 0.5%;
}
#panels-dnd-main .region-three-25-25-50-third {
  float: right;
  width: 50%;
}
#panels-dnd-main .region-three-25-25-50-middle {
  clear: both;
}
#panels-dnd-main .region-three-25-25-50-bottom {
  clear: both;
}
