#panels-dnd-main .region {
  margin-bottom: 5px;
}
#panels-dnd-main .region-two-33-66-first {
  float: left;
  width: 33%;
}
#panels-dnd-main .region-two-33-66-second {
  float: right;
  width: 66.5%;
}
#panels-dnd-main .region-two-33-66-middle {
  clear: both;
}
#panels-dnd-main .region-two-33-66-bottom {
  clear: both;
}
