#panels-dnd-main .region-one-top {
  clear: both;
}
#panels-dnd-main .region {
  width: 100%;
}
#panels-dnd-main .region-one-middle {
  clear: both;
}
#panels-dnd-main .region-one-bottom {
  clear: both;
}
