#panels-dnd-main .region {
  margin-bottom: 5px;
}
#panels-dnd-main .panel-row .region {
  width: 49.75%;
}
#panels-dnd-main .region-two-brick-left-1,
#panels-dnd-main .region-two-brick-left-2 {
  float: left;
}
#panels-dnd-main .region-two-brick-right-1,
#panels-dnd-main .region-two-brick-right-2 {
  float: right;
}
